:root {
  --primary-color: rgb(50, 48, 48);
  --secondary-color: rgb(162, 167, 170);
  --tertiary-color: rgb(53, 204, 19);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 36px;
  border-bottom: 4px solid var(--tertiary-color);
}

.hero-section {
  /* height: 21rem; */
  background-color: var(--secondary-color);
  border-bottom: 4px solid var(--tertiary-color);
}

.popular-games {
  background-color: var(--primary-color);
  /* height: 15rem; */
}

.search-area {
  background-color: var(--primary-color);
  border-top: 4px solid var(--tertiary-color);
}
.search-card {
  /* border: 2px solid var(--tertiary-color); */
  text-align: center;
  background-color: beige;
}
.search-results {
  /* border: 2px solid var(--tertiary-color); */
  height: 15rem;
  /* display: none; */
}

.reviews {
  background-color: var(--secondary-color);
  border-top: 4px solid var(--tertiary-color);
  height: 200px;
}

.display-reviews {
  height: 15rem;
}

.recent-searches {
    height: 15rem;
}

footer {
  background-color: var(--tertiary-color);
  height: 50px;
}

.button {
  background-color: rgb(64, 139, 114);
  color: aliceblue;
}

button:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: black;
}

#results:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.input:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container {
    display: contents;
    justify-content: center;
  }
  .row:hover {
    display: flex;
    font-size: 25px;
    margin: 5px 5px 20px 5px;
  }
}
