

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    font-size: 36px;
    border-bottom: 2px solid rgb(19, 195, 204);
}

.form {
    margin: 0 0 0 20px;
}
    
.button:active {
  background: rgba(196, 196, 34, 0.863) ;

}

.hero {
    border-bottom: 2px solid black;
}